*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: gray;
  display:flex;
  align-items: center;
  justify-content: center;
}
body::before
  {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(20% at right 70%);
  }
  body::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
    overflow-y: scroll;
  }
.container {
  height:450px;
  width: 1000px;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.row {
  padding-bottom: 2rem;
}
h1 {
  width:100%;
  text-align: center;
  font-size: 3.5em; 
  font-weight:bolder

}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 50%;
  height:100%;
  position: relative;
}
.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.centerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  height: 100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 2px 2px #dcdde1;
}
a .setter{
  font-size: 30px;
  transition: all 0.3s linear;
}
a:hover .setter {
  transform: scale(1.4);
}
.linkedin {
  color:#0097e6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details a {
  font-size: 30px;
  color:#3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one
 {
  font-size: 14px;
  color: #afafb6;
 }
 
 .map iframe {
  width:450px;
  height: 300px;
  padding-left: 20px;
  padding-top: 25px;
 }
 